{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <div class="card-panel">
          <div class="card-header">
            <h4>{{ .Title }}</h4>
            <p>
            {{if .Params.categories }}
              {{ range $index, $category := .Params.categories }}
                <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
              {{ end }}
            {{end}} 
            </p>
          </div>
          {{with .Params }}
          <div class="card-content">
            <p>

              <div class="row">

                <div class="col s12">

                  <ul class="tabs">

                    <li class="tab col s3">
                      <a class="active" href="#info">Info</a>
                    </li>

                    {{if .story }}
                    <li class="tab col s3">
                      <a href="#story">The Story</a>
                    </li>
                    {{end}}

                    {{if .characters}}
                    <li class="tab col s3">
                      <a href="#characters">Characters</a>
                    </li>
                    {{end}}

                    {{if .screenshots }}
                    <li class="tab col s3">
                      <a href="#screenshots">Screenshots</a>
                    </li>
                    {{end}}

                    {{if .download }}
                    <li class="tab col s3">
                      <a href="#download">Download</a>
                    </li>
                    {{end}}

                    {{if .credits }}
                    <li class="tab col s3">
                      <a href="#credits">Credits</a>
                    </li>
                    {{end}}

                  </ul>

                  <br><br>

                  <div class="col s12" id="info">
                    {{ range .info }}
                      {{ . }}
                      <br><br>
                    {{end}}
                    <br><br>

                    {{if .myrole }}

                      <h5>My Role</h5>
                      <br>

                      {{ .myrole }}

                      <br><br>

                      {{if .disclaimer }}
                      <br>
                      <b>Disclaimer</b><br>
                      My role as a writer means abiding by the guidelines set by my commissioner.<br>
                      I did not come up with the story, the characters, or even decide on the writing style used for this game.<br>
                      I simply put my commissioner's story into words.<br><br>
                      {{end}}

                      <br><br>
                    {{end}}
                  </div>

                  {{with .story }}
                  <div class="col s12" id="story" style="display:none;">
                    {{ range . }}
                      {{ . }}
                      <br><br>
                    {{end}}
                    <br><br>
                  </div>
                  {{end}}

                  {{with .characters}}
                  <div class="col s12" id="characters" style="display:none;">
                    <table>
                      <tbody>
                        {{range $index, $page := .}}
                          {{if modBool $index 3}}
                            {{if gt $index 0}}
                              </tr>
                            {{end}}
                            <tr>
                              <td>
                                <img src="{{$baseurl}}/images/{{$page}}">
                              </td>
                          {{else}}
                            {{if eq ( mod $index 3 ) 1}}
                            <td>
                              <h4>{{ $page }}</h4>
                            {{else}}
                              <p>{{ $page }}</p>
                            </td>
                            {{end}}
                          {{end}}
                        {{end}}
                      </tbody>
                    </table>
                    <br><br>
                  </div>
                  {{end}}

                  {{if .download }}
                  <div class="col s12" id="download" style="display:none;">
                    
                    {{with .steam }}
                    <br>
                    <a href="http://store.steampowered.com/app/{{.}}/">
                      <img src="{{$baseurl}}/images/Steam_logo.png" alt="Download from Steam" /><!--CC0 image from https://commons.wikimedia.org/wiki/File:Steam_logo.svg -->
                    </a>
                    <br>
                    {{end}}
                    
                    {{with .itchid }}
                    <br>
                    <iframe frameborder="0" src="https://itch.io/embed/{{.}}" width="552" height="167"></iframe>
                    <br>
                    {{end}}
                    
                    {{with .itch }}
                    <br>
                    <a href="{{.}}">Download from Itch.io</a>
                    <br>
                    {{end}}

                    {{with .gplay }}
                    <br>
                    <a href="https://play.google.com/store/apps/details?id={{.}}">Download for Android from Google Play</a>
                    <br>
                    {{end}}

                    <br><br>
                  </div>
                  {{end}}
                  
                  {{ with .credits }}
                  <div class="col s12" id="credits" style="display:none;">
                    <table>
                      <thead>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Link</th>
                      </thead>
                      <tbody>
                        {{range $index, $page := .}}
                          {{if modBool $index 3}}
                            {{if gt $index 0}}
                              </tr>
                            {{end}}
                            <tr>
                          {{end}}
                          <td>{{ $page }}</td>
                        {{end}}
                      </tbody>
                    </table>
                    <br><br>
                  </div>
                  {{end}}

                  {{with .screenshots}}
                  <div class="col s12" id="screenshots" style="display:none;">
                        {{range $index, $page := .}}
                          {{if modBool $index 2}}
                            <a href="{{$baseurl}}/images/{{$page}}">
                          {{else}}
                              <img src="{{$baseurl}}/images/{{$page}}">
                            </a>
                          {{end}}
                        {{end}}
                      </tbody>
                    </table>
                    <br><br>
                  </div>
                  {{end}}

                  <br><br>

                </div>

              </div>
              {{end}}

            </p>
            <p>{{ .Date.Format "2 Jan 2006" }}
              {{if .Params.tags }}
                {{ range $index, $tag := .Params.tags }}
                  <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
                {{ end }}
              {{end}}
            </p>
            {{ with .Site.DisqusShortname }}
              {{ partial "disqus.html" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s3 m1">
      {{if .Prev}}
        <a class="btn-floating btn-large waves-effect waves-light" href="{{ .Prev.Permalink }}"><i class="mdi-navigation-arrow-back"></i></a>
      {{else}}
        <a class="btn-floating btn-large disabled"><i class="mdi-navigation-arrow-back"></i></a>
      {{end}}
      </div>
      <div class="col s6 m10 center">&nbsp;</div>
      <div class="col s3 m1">
      {{if .Next}}
        <a class="btn-floating btn-large waves-effect waves-light" href="{{ .Next.Permalink }}"><i class="mdi-navigation-arrow-forward"></i></a>
      {{else}}
        <a class="btn-floating btn-large disabled"><i class="mdi-navigation-arrow-forward"></i></a>
      {{end}}
      </div>
    </div>

  </div>
</div>

{{ partial "footer.html" . }}
