body{
  font-size: 14pt;
  background-color:#2A2931;
}
.a_icon{
  text-align: center;
  display: inline-block;
  height:220px;
}
.a_icon > img{
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
nav{
  background-color:#000;
}
.nav-wrapper{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.nav-wrapper > ul > li > a{
  color:white;
}
.nav-wrapper > ul > li{
  background-color: #000;
}
#index-banner > div > div > a > h1{
  color: #d93344 !important;
}
.page-footer{
  background-color: #000 !important;
}
.card-panel{
  background-color: #263238;
  color: #FFF;
  padding: 0 0 10px 0;
}
.card-header, .card-content{
  padding: 10px;
}
.card-content > p{
  margin-bottom: 0;
}
.card-content > div.row{
  text-align:left;
}
.card-header{
  background-color: #19181e;
}
.card-header > p{
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
.card-header > h4{
  margin-bottom: 0;
  margin-top: 10px;
  height:80px;
}
.card-header > p > a{
  padding: 10px;
  display: block;
}
.card-header > h4 > a, .card-header > p > a{
  color: #FFF;
}
a:hover{
  opacity:.8;
}
.collection-item{
  background-color: #263238 !important;
  color: #FFF !important;
}
.collection-item:not(:last-child){
  border-bottom: 1px solid #000 !important;
}
.collection{
  border: 1px solid #000 !important;
}
.secondary-content{
  color:white;
}
.tabs{
  background-color: transparent;
}
#index-banner{
  background-color:#000;
}
#index-banner > div > .container{
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.row{
  text-align: center;
}
.row .col.m4{
  width: 320px;
  float: none;
  display: inline-block;
}
.container{
  width:90%;
}