/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.header-img{
  margin: 0 auto;
  display: block;
  max-width: 1000px;
}

nav > div > ul > li > a > img{
  padding-top: 7px;
  display: inherit;
}

@media only screen and (max-width : 360px) {
  nav > div > ul > li > a > img {
    display:none;
  }
}